html {
  --white: #ffffff;

  --greenish-yellow: #b9b030;
  --add-button: #e2d413;
  --trophy: #f8bb00;
  --mmr-orange: #ff9900;
  --slp: #bb5cc0;
  --axs: #4a62b6;
  --green: #26aa28;
  --red: #e60f1e;
  --delete-button-hover: #ee2431;
  --delete-button-active: #f74853;

  --dark-gray: #141925;
  --dark-button-hover: #2f374d;
  --dark-button-active: #434c64;
  --gray-gradient-2: #232631;
  --scholar-box-bg: #292c36;
  --gray-gradient-1: #31343c;
  --line: #3a3c49;
  --greyish-purple: #37384e;
  --greyish-purple-hover: #4b4b64;
  --small-text: #9da1bb;
  --mini-titles: #7f87b8;
  --name: #9397a3;
  --shadow: rgba(0, 0, 0, 0.25);

  --expander-button-hover: #4d5464;
  --expander-button-active: #697081;
  --scholar-small-text: #676d7a;
  --copy-button-hover: #41464e;
  --copy-button-active: #595e6d;
}
