html {
  --white: #ffffff;

  --greenish-yellow: #b9b030;
  --trophy: #f8bb00;
  --mmr-orange: #ff9900;
  --slp: #bb5cc0;
  --axs: #4a62b6;
  --green: #26aa28;
  --red: #e60f1e;

  --dark-gray: #141925;
  --gray-gradient-2: #232631;
  $scholar-average-box-bg: #292c36;
  --gray-gradient-1: #31343c;
  $lines: #343645;
  --greyish-purple: #37384e;
  --greyish-purple-hover: #4b4b64;
  $title-gray-text: #6e737f;
  --small-text: #9da1bb;
  --mini-titles: #7f87b8;
  $names: #9397a3;
  $feature-view-numbers: #bfbec3;
}
