.one-screen {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;

  height: 90vh;
  width: 100%;
  background-color: red;

  #aggregatorToggleBtn {
    position: absolute;
    bottom: -1rem;
    left: calc(-52px - 1rem);

    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    background-color: green;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: forestgreen;
    }

    svg {
      height: 32px;
      width: 32px;

      transition: transform 0.2s ease-in-out;
    }

    &.active svg {
      transform: rotateZ(135deg);
    }
  }
}
