.aggregator {
  position: sticky;
  z-index: 200;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: calc(100% - 2rem);
    height: 464px;
    border-radius: 6px;
    padding: 1.5rem 16px;

    background-color: #313440;

    h3 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 1rem;
    }

    label {
      margin-bottom: 1rem;

      p {
        font-size: 16px;
        line-height: 18px;
      }
    }

    .address-area {
      position: relative;
      width: 100%;
      height: 200px;
      margin-bottom: 0.5rem;
      border-radius: 6px;

      display: flex;
      justify-content: center;
      align-items: center;

      textarea {
        width: 100%;
        height: 200px;
        border: none;
        border-radius: 6px;
        padding: 16px;

        font-size: 16px;
        line-height: 18px;

        resize: none;
        position: relative;

        &::placeholder {
          font-size: 16px;
          line-height: 18px;
        }

        &.error {
          outline: 2px solid #ff0000;
        }
      }
    }

    .notifications {
      margin-bottom: 1.5rem;

      p {
        color: rgb(255, 45, 45);
        font-size: 16px;
        line-height: 20px;

        // font-weight: bold;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      button {
        padding: 1rem;
        cursor: pointer;
        min-width: 40%;
        text-align: center;

        background-color: white;
        border: none;
        border-radius: 4px;

        text-transform: capitalize;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
