.featuredView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 84px;

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: #141925;
    color: #fff;

    &:hover {
      background-color: #2b3650;
    }
    &:active {
      background-color: #3c4b6e;
    }

    &:disabled {
      background-color: #181d2b;

      svg {
        animation: spin 0.4s ease-in-out;
        transform-origin: 50% 57%;
      }
    }

    p {
      font-size: 14px;
      margin-right: 0.5rem;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    @keyframes spin {
      0% {
        transform: rotateZ(0);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 176px);

    justify-items: center;
    align-items: stretch;

    padding: 20px;

    gap: 12px;
  }
}
