header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem;
  height: 5.25rem;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    var(--gray-gradient-1),
    var(--gray-gradient-2)
  );

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      font-size: 1.125rem;
      font-weight: bold;
      font-family: "Exo", sans-serif;
      color: var(--white);
    }

    span {
      color: var(--small-text);
      font-weight: 500;

      strong {
        color: var(--greenish-yellow);
      }
    }
  }
}
