header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 84px;
  background-color: #2c2f3b;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      font-family: "Exo", sans-serif;
    }

    span {
      color: #6f757f;

      strong {
        color: #9d9a33;
      }
    }
  }
}
