.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  position: absolute;
  top: 5.25rem;
  right: 0;
  z-index: 100;

  width: 100%;
  height: calc(100vh - 5.25rem);
  background-color: var(--shadow);

  opacity: 0;
  animation: opacity 0.2s ease-in-out forwards;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 80%;
    height: 100vh;
    list-style: none;
    background-color: var(--dark-gray);
    padding: 1rem;
    color: var(--white);

    transform: translateX(100%);
    animation: menu 0.2s ease-in-out forwards;

    h3 {
      margin: 1rem 0;
    }

    a {
      color: var(--add-button);
      margin-top: 1rem;
    }

    @keyframes menu {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
