#menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  position: absolute;
  top: 5.25rem;
  right: 0;
  z-index: 100;

  width: 100%;
  height: calc(100vh - 5.25rem);
  background-color: var(--shadow);

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  .menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 80%;
    height: 100%;
    background-color: var(--dark-gray);
    padding: 1rem;
    color: var(--white);

    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      overflow-y: auto;

      h3 {
        margin: 0.25rem 0 1rem;
        font-size: 18px;
        line-height: 20px;
      }

      hr {
        width: 100%;
        height: 1px;
        color: var(--line);
        margin: 0.5rem 0;
      }

      h4 {
        margin: 0.5rem 0;
        font-size: 1rem;
        line-height: 1.125rem;
      }

      p {
        margin-bottom: 0.5rem;
        font-size: 16px;
        line-height: 18px;
        color: var(--menu-text);

        a {
          color: var(--add-button);
        }
      }

      #checkbox {
        margin-top: 0.5rem;
        height: 1.5rem;
        width: 3rem;
        border-radius: 0.75rem;
        background-color: var(--greyish-purple);
        cursor: pointer;

        position: relative;

        transition: background-color 0.2s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          top: 0.1875rem;
          left: 0.1875rem;
          border-radius: 50%;

          height: 1.125rem;
          width: 1.125rem;
          background-color: var(--white);

          transition: transform 0.2s ease-in-out;
        }

        &.active {
          background-color: var(--green);
        }
        &.active::after {
          transform: translateX(1.375rem);
        }
      }
    }
  }

  &.open {
    opacity: 1;

    .menu-container {
      transform: translateX(0);
    }
  }

  &.close {
    visibility: hidden;
  }
}
