.menu {
  position: absolute;
  top: 84px;
  right: 0;

  width: 100%;
  height: calc(100vh - 84px);
  background-color: rgba($color: #000000, $alpha: 0.25);
  // padding: 19px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  ul {
    width: 80%;
    height: 100vh;
    list-style: none;
    background-color: #141925;
    // border-radius: 6px;
    padding: 16px;

    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

    li {
      width: 100%;
      margin: 6px 0;

      button {
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #fff;

        font-size: 16px;
        line-height: 16px;
        text-align: center;

        border-radius: 6px;

        &:hover {
          background-color: slategray;
        }
      }
    }
  }
}
