.performance-summary {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--greyish-purple);
  color: var(--white);
  transition: background-color 0.2s ease-in-out;

  &.flash,
  &:active {
    transition: none;
    background-color: var(--greyish-purple-hover);
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-bottom: 0.5rem;
    color: var(--mini-titles);
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 1rem;
    font-weight: 500;

    strong {
      font-size: 1.125rem;
      line-height: 1.125rem;
      margin-bottom: 0.25rem;
      font-family: "Exo", sans-serif;

      span {
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: var(--small-text);
      }
    }

    p {
      font-size: 0.75rem;
      line-height: 0.75rem;
      color: var(--small-text);

      span {
        color: var(--white);
      }
    }
  }

  .profit {
    margin-top: 0.75rem;

    p {
      font-size: 1.125rem;
      line-height: 1.125rem;
      font-family: "Exo", sans-serif;
      font-weight: bold;

      span {
        font-size: 0.75rem;
        line-height: 0.75rem;
        font-weight: 500;
        color: var(--small-text);
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .performance-summary {
    padding: 1.5rem;
  }
}
