.accounts {
  width: 100%;

  .scholar {
    background-color: transparent;
    width: 100%;

    border-bottom: 0.125rem solid var(--line);

    .account-details {
      background-color: transparent;
      padding: 1rem 0;
      padding-left: 3.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      position: relative;

      .profile-picture {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 1rem;
        left: 0;

        height: 2.5rem;
        width: 2.5rem;
        overflow: hidden;
        border-radius: 50%;

        img {
          height: 100%;
        }
      }

      .upper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: bold;
        margin-bottom: 0.25rem;

        .name {
          font-size: 1rem;
          line-height: 1.25rem;
          color: var(--name);

          text-overflow: ellipsis;

          width: min-content;
          overflow: hidden;
          white-space: nowrap;
          margin-right: 1rem;
        }

        .slp {
          font-size: 1.25rem;
          line-height: 1.25rem;
          color: var(--white);
          width: fit-content;
          min-width: fit-content;

          // margin-left: auto;
        }
      }

      .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 0.5rem;

        .mmr {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          font-weight: bold;

          svg {
            width: 1rem;
            height: 1rem;
            margin-right: 0.25rem;
            fill: var(--trophy);
          }
          p {
            font-size: 0.875rem;
            line-height: 0.875rem;
            color: transparent;
            background: linear-gradient(
              to right,
              var(--trophy),
              var(--mmr-orange)
            );
            background-clip: text;
          }
        }

        .usdt {
          font-weight: 500;
          color: var(--small-text);
          font-size: 0.75rem;
          line-height: 0.75rem;
        }
      }

      .lower {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.75rem;
        line-height: 0.75rem;
        font-weight: 500;

        .rank,
        .next-claim {
          color: var(--scholar-small-text);

          span {
            color: var(--name);
          }
        }
      }
    }

    .dropdown {
      transition: opacity 0.3s ease-in-out;
      opacity: 1;

      &.fade {
        opacity: 0;
      }
    }

    .wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      background-color: var(--greyish-purple);
      padding: 0 0.375rem 0 0.5rem;
      height: 2.75rem;

      border-radius: 0.5rem;

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
        width: 100%;
        max-width: min-content;
        padding-left: 0.5rem;
        color: var(--white);
        text-decoration: none;
        overflow: hidden;

        margin-right: 1rem;

        &:hover {
          text-decoration: underline;
        }

        p {
          font-size: 0.875rem;
          line-height: 2.75rem;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 1rem;
          width: 1rem;
          margin-left: 0.25rem;

          svg {
            height: 0.875rem;
            width: 0.875rem;
            transform: translateY(-0.0625rem);
          }
        }
      }

      .copy-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        height: 2rem;
        width: 2rem;
        min-width: 2rem;

        border: none;
        border-radius: 0.25rem;
        background-color: var(--scholar-box-bg);
        transition: background-color 0.2s ease-in-out;

        &:hover {
          transition: none;
          background-color: var(--expander-button-hover);
        }

        &:active {
          transition: none;
          background-color: var(--expander-button-active);
        }

        svg {
          width: 1.25rem;
          height: 1.25rem;
          color: var(--small-text);
        }
      }
    }

    .statistics {
      border-radius: 0.5rem;
      border: 0.0625rem solid var(--line);
      background-color: var(--scholar-box-bg);
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 1rem;

      color: #fff;

      .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 4rem;

        p {
          font-size: 0.75rem;
          line-height: 0.75rem;
          font-weight: 500;
          margin-bottom: 0.5rem;

          color: var(--name);
        }
        strong {
          font-size: 0.75rem;
          line-height: 0.75rem;
          font-weight: 700;
        }
      }
    }

    .delete-account {
      width: 100%;
      margin: 1rem 0;

      button {
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--red);
        color: var(--white);
        cursor: pointer;
        font-weight: 500;

        transition: background-color 0.2s ease-in-out;

        &:hover {
          transition: none;
          background-color: var(--delete-button-hover);
        }

        &:active {
          transition: none;
          background-color: var(--delete-button-active);
        }
      }
    }
  }
}
