.scholars-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 45rem;
  padding: 1.25rem;
  padding-top: 0.25rem;

  margin-bottom: 10rem;

  .separator {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    border-bottom: 0.125rem solid var(--line);
    color: var(--greenish-yellow);

    .title {
      border-bottom: 0.125rem solid var(--greenish-yellow);
      margin-bottom: -0.125rem;

      h3 {
        padding: 1rem;
      }
    }
  }

  .accounts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 1rem;
    width: 100%;

    .expander {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 3rem;
      width: 100%;
      background: linear-gradient(
        to right,
        var(--gray-gradient-1),
        var(--gray-gradient-2)
      );
      border: none;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      padding: 0 0.5rem 0 1rem;
      cursor: pointer;

      color: var(--small-text);

      p {
        text-align: left;
        font-size: 1rem;
        line-height: 1rem;
      }

      // .icon {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 2rem;
      //   height: 2rem;
      //   border-radius: 0.25rem;
      //   background-color: var(--gray-gradient-1);

      //   color: var(--small-text);
      //   transition: background-color 0.2s ease-in-out;

      //   &:hover {
      //     transition: none;
      //     background-color: var(--expander-button-hover);
      //   }
      //   &:active {
      //     transition: none;
      //     background-color: var(--expander-button-active);
      //   }

      //   svg {
      //     height: 1.5rem;
      //     width: 1.5rem;
      //   }
      // }
    }
  }
}
