.token-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  // width: 10.125rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;

  position: relative;
  background-color: var(--dark-gray);
  font-family: "Quicksand", sans-serif;
  color: var(--white);
  overflow: hidden;

  transition: background-color 0.1s ease-in-out;

  &.flash {
    background-color: var(--tokens-flash);
  }

  .icon {
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 2.25rem;
    height: 2.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--token-icon);
    border-radius: 50%;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .token {
    h2 {
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: var(--axs);

      &.slp {
        color: var(--slp);
      }
    }

    p {
      font-size: 0.75rem;
      line-height: 0.75rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }

  .price-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    strong {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.125rem;
      margin-bottom: 0.25rem;
      margin-right: 0.5rem;
    }

    .price-change {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        font-size: 0.875rem;
        line-height: 0.875rem;
        font-weight: 500;
        margin-right: 0.25rem;
      }

      svg {
        width: 1rem;
        height: 1rem;
      }

      &.positive {
        span {
          color: var(--green);
        }
        svg {
          fill: var(--green);
        }
      }

      &.negative {
        span {
          color: var(--red);
        }
        svg {
          fill: var(--red);
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .price-lowhigh {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
    margin-top: 0.5rem;

    .element {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-top: 0.25rem;
      margin-right: 0.5rem;

      svg {
        width: 1rem;
        height: 1rem;
        fill: var(--red);
        color: var(--red);
        margin-right: 0.25rem;

        &.inverted {
          fill: var(--green);
          color: var(--green);
          transform: rotateZ(180deg);
        }
      }
    }
  }
}

@media screen and (min-width: 572px) {
  .token-card {
    padding: 1.5rem;

    .icon {
      right: 1rem;
      top: 1rem;
      width: 3rem;
      height: 3rem;

      img {
        width: 2rem;
        height: 2rem;
      }
    }

    .token {
      p {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .price-indicator {
      flex-direction: row;
      align-items: center;

      strong {
        font-size: 1.375rem;
        line-height: 1.375rem;
      }

      .price-change {
        span {
          font-size: 1rem;
          line-height: 1rem;
          margin-right: 0;
        }
      }
    }

    .price-lowhigh {
      font-size: 14px;
      line-height: 14px;

      .element {
        svg {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }
  }
}
